.menu {
	list-style: none;
	display: flex;
	padding: 0;
	width: 100%;
}

.item {
	flex: 1;
	cursor: pointer;
	transition: .5s;
}

.item:hover {
	animation: itemHover .5s;
	font-weight: bold;
	transform: scale(1.1);
}

@keyframes itemHover {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
	}
}